body {
    background-color:#E9ECEF;
}
.display-4{
    color:rgb(255, 0, 21);
}
.liste{
    color: rgba(14, 158, 241, 0.905);
}
.jumbotron{
    text-align: center;
    list-style-position: inside
}
.size{
    width: 100px;
    height: 300px;
}
.heading{
    text-align: center;
    color:rgb(255, 0, 21);
}

.card-title{
    color:rgb(255, 0, 21);
    text-align: center;
}

.card-subtitle{
    color:rgb(235, 50, 59);
}

.card-img-top {
    flex-grow: 1;
    object-fit:contain;
}
.card-body{
    flex-grow:3;
}